# Desafío - Pruebas de hipótesis

**Nombre:** Luis Porras

## 1. Evaluar juicios de hipótesis

In [1]:
N = 150
n1 = 75 # Hetero
n2 = 75 # Homo
p1 = 0.67 # La probabilidad de que un Hetero apruebe la adopcion homoparental es 67%
p2 = 0.72 # La probabilidad de que un Homo apruebe la adopcion homoparental es 72%

$ Ho : P1 = P2 $

$ H1 : P1 != P2 $

In [5]:
p = 11.83 # valor de prueba, Z
p_score = 2.52 # Puntaje de corte

### Pregunta: ¿qué se debe concluir?

**Respuesta:** Dado que el valor Z de `11.83` es mayor al puntaje de corte `2.52`, tenemos que existe evidencia para rechazar
la Hipótesis Nula.  Es decir que la probabilidad de que un Hetero apruebe la adopción hommoparental es distinta a la probabilidad de que un Homo apruebe la adopicón homoparental.

* Un  investigador de  la  Sociedad de  Abstemios de  Chile  sugiere que  los  hombres tienen mayores niveles de  consumo de  alcohol que  las  mujeres, siendo esta  diferencia estadísticamente significativa. Esto en base a su estudio realizado con 48 individuos, donde contrastó su puntaje de prueba a una distribución asintóticamente normal.

### Pregunta: ¿Qué se puede decir sobre su estudio?

**Respuesta:** Dado que la diferencia fue estadísticamente significativa, concluimmos que el Z calculado fue mayor al puntaje de corte, y se rechazo la hipótesis Nula que indica que las medias eran Iguales.

## 2. Importe la base de datos utilizada la sesión presencial anterior

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('nations.csv', encoding='latin-1')
df.head()

,Unnamed: 0,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini
0,1,Algeria,Africa,7300.399902,6.716667,7.300000,34.75,72.316666,34172236,64.933334,0.4522,72.599998,15.0,NaN
1,2,Benin,Africa,1338.800049,3.100000,111.699997,122.75,54.733334,8237634,41.000000,0.8482,41.700001,1.2,NaN
2,3,Botswana,Africa,12307.400391,8.600000,52.099998,60.25,52.250000,1941233,59.250000,0.8870,84.099998,9.2,NaN
3,4,Burkina Faso,Africa,1063.400024,1.300000,124.800003,170.50,53.783333,15308383,23.583334,0.8584,23.600000,0.2,NaN
4,5,Burundi,Africa,349.200012,2.483333,18.600000,168.50,48.866665,7821783,10.250000,1.0344,66.599998,0.1,33.299999