In [56]:
import pandas as pd
import numpy as np

## Desafío 1: Generación de Funciones

In [1]:
def media(vector):
    """
    Definición:
    Calcula la media aritmética del array recibido por parámetro
    Parámetros de ingreso:
    - vector: Tipo de dato: array.  Es la lista de números utilizada para calular la media aritmética.
    Retorno:
    - Retorna la media aritmética. Devuelve un float.
    """
    return sum(vector)/len(vector)

In [58]:
def varianza(vector):
    """
    Definición:
    Calcula la varianza del array recibido por parámetro
    Parámetros de ingreso:
    - vector: Tipo de dato: array. Es la lista de números utilizada para calcular la varianza.
    Retorno:
    - Retorna la varianza.  Devuelve un float
    """
    tmp_media = media(vector)
    
    return sum(list(map(lambda x: (x - tmp_media)**2, vector)))/len(vector)

In [27]:
varianza([1, 2, 3]) == np.var([1, 2, 3])

True

In [28]:
media([1, 2, 3]) == np.mean([1, 2, 3])

True

In [29]:
df = pd.read_csv('worldcup2014.csv')

In [30]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [37]:
goles_favor = df['goles_favor'].values

In [38]:
goles_contra = df['goles_contra'].values

In [39]:
puntos = df['puntos'].values

In [46]:
media_goles_favor = media(goles_favor)

In [47]:
varianza_goles_favor = varianza(goles_favor)

In [48]:
print("La media de los goles a favor de todos los partidos es", media_goles_favor, "Y la varianza es de", varianza_goles_favor)

La media de los goles a favor de todos los partidos es 4.25 Y la varianza es de 5.1875

In [50]:
media_goles_contra = media(goles_contra)

In [51]:
varianza_goles_contra = varianza(goles_contra)

In [52]:
print("La media de los goles en contra de todos los partidos es", media_goles_contra, "Y la varianza es de", varianza_goles_contra)

La media de los goles en contra de todos los partidos es 4.25 Y la varianza es de 4.8125

In [53]:
media_puntos = media(puntos)

In [54]:
varianza_puntos = varianza(puntos)

In [55]:
print("La media de los puntos de todos los partidos es", media_puntos, "Y la varianza es de", varianza_puntos)

La media de los puntos de todos los partidos es 4.21875 Y la varianza es de 8.0458984375

## Desafío 2:

In [62]:
africa_df = df[df['continent'] == 'africa']
europe_df = df[df['continent'] == 'europe']
asia_df = df[df['continent'] == 'africa']
northamerica_df = df[df['continent'] == 'northamerica']
southamerica_df = df[df['continent'] == 'southamerica']

In [63]:
africa_df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
10,Ivory Coast,africa,C,3,3,1,0,2,4,5,−1,3,0
21,Nigeria,africa,F,2,3,1,1,1,3,3,0,4,1
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1

In [64]:
europe_df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1
14,Italy,europe,D,3,3,1,0,2,2,3,−1,3,0

In [66]:
asia_df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
10,Ivory Coast,africa,C,3,3,1,0,2,4,5,−1,3,0
21,Nigeria,africa,F,2,3,1,1,1,3,3,0,4,1
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1

In [67]:
northamerica_df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
12,Costa Rica,northamerica,D,1,3,2,1,0,4,1,3,7,1
19,Honduras,northamerica,E,4,3,0,0,3,1,8,−7,0,0
25,United States,northamerica,G,2,3,1,1,1,4,4,0,4,1

In [68]:
southamerica_df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
5,Chile,southamerica,B,2,3,2,0,1,5,3,2,6,1
8,Colombia,southamerica,C,1,3,3,0,0,9,2,7,9,1
13,Uruguay,southamerica,D,2,3,2,0,1,4,4,0,6,1
18,Ecuador,southamerica,E,3,3,1,1,1,3,3,0,4,0

In [70]:
continent = []
store_mean = []
store_std = []

for d in [africa_df, europe_df, asia_df, northamerica_df, southamerica_df]:
    continent.append(d.iloc[0,1])
    store_mean.append(media(d['goles_favor']))
    store_std.append(varianza(d['goles_favor']))

tmp = pd.DataFrame({
    'Continente': continent,
    'media_goles': store_mean,
    'std_goles': store_std
})
tmp

     Continente  media_goles  std_goles
0        africa     3.600000   2.640000
1        europe     4.769231   6.331361
2        africa     3.600000   2.640000
3  northamerica     3.250000   1.687500
4  southamerica     5.666667   3.888889

In [86]:
grouped_df = df.groupby(by='continent', as_index=False).sum()
grouped_df

,continent,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado
0,africa,15,15,3,3,9,18,28,12,2
1,asia,16,12,0,3,9,9,25,3,0
2,europe,30,39,18,7,14,62,52,61,6
3,northamerica,9,12,5,3,4,13,14,18,3
4,southamerica,10,18,13,2,3,34,17,41,5

In [95]:
grouped_df[['continent', 'goles_favor', 'goles_contra', 'puntos']].copy()

      continent  goles_favor  goles_contra  puntos
0        africa           18            28      12
1          asia            9            25       3
2        europe           62            52      61
3  northamerica           13            14      18
4  southamerica           34            17      41

In [98]:
def desafio2(group_by, var):
    grouped_df = df.groupby(by=group_by, as_index=False).sum()
    return grouped_df[[group_by] + var].copy()

In [99]:
desafio2('continent', ['goles_favor', 'goles_contra', 'puntos'])

      continent  goles_favor  goles_contra  puntos
0        africa           18            28      12
1          asia            9            25       3
2        europe           62            52      61
3  northamerica           13            14      18
4  southamerica           34            17      41

In [100]:
desafio2_df = desafio2('continent', ['goles_favor', 'goles_contra', 'puntos'])

In [106]:
maximo_goles_a_favor = desafio2_df['goles_favor'].max()
maximo_goles_en_contra = desafio2_df['goles_contra'].max()
maximo_puntos = desafio2_df['puntos'].max()

In [107]:
desafio2_df[desafio2_df['goles_favor'] == maximo_goles_a_favor]['continent']

2    europe
Name: continent, dtype: object

In [108]:
desafio2_df[desafio2_df['goles_contra'] == maximo_goles_en_contra]['continent']

2    europe
Name: continent, dtype: object

In [109]:
desafio2_df[desafio2_df['puntos'] == maximo_puntos]['continent']

2    europe
Name: continent, dtype: object

El continente con mayor cantidad de goles a favor es Europa con 62 goles

El continente con mayor cantidad de goles en contra es Europa con 52 goles

El continente con mayor cantiadad de puntos es Europa con 61 puntos

## Desafío 3: Simulaciones

In [124]:
def generate_pet():
    pets = ['perro', 'gato']
    return np.random.choice(pets, 1)[0]

In [125]:
generate_pet()

'gato'

In [126]:
generate_pet()

'perro'

In [190]:
random_pets = []
for i in range(20):
    random_pets.append(generate_pet())
print(random_pets)

['perro', 'perro', 'gato', 'gato', 'gato', 'perro', 'perro', 'perro', 'gato', 'gato', 'gato', 'perro', 'perro', 'gato', 'perro', 'perro', 'gato', 'gato', 'gato', 'perro']

In [136]:
nparray_pets = np.array(random_pets)
nparray_pets

array(['gato', 'gato', 'perro', 'perro', 'gato', 'perro', 'perro',
       'perro', 'perro', 'gato', 'gato', 'gato', 'gato', 'perro', 'perro',
       'perro', 'perro', 'gato', 'gato', 'perro'], dtype='<U5')

In [139]:
value_counts = pd.Series(nparray_pets).value_counts('%')
value_counts

perro    0.55
gato     0.45
dtype: float64

In [146]:
print("La probabilidad de elegir un gato al azar es de", value_counts.get('gato') * 100, "% porciento")

La probabilidad de elegir un gato al azar es de 45.0 % porciento

In [147]:
print("La probabilidad de elegir un perro al azar es de", value_counts.get('perro') * 100, "% porciento")

La probabilidad de elegir un perro al azar es de 55.00000000000001 % porciento

In [178]:
def generate_pet():
    pets = ['perro', 'gato']
    return np.random.choice(pets, 1)[0]

In [189]:
random_pets = []
np.random.seed(2)
for i in range(20):
    random_pets.append(generate_pet())
print(random_pets)

['perro', 'gato', 'gato', 'perro', 'perro', 'gato', 'perro', 'gato', 'perro', 'gato', 'perro', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'gato', 'perro', 'perro']

El método random.seed(2) de numpy hizo que la simulacion random ya no fuera de completo aleatoria, sino que siempre devuelve el mismo resultado dependiendo del tamaño de la muestra. Siempre me devuelve los mismo 20 resultados (aleatorios) cada vez que ejecuto el ciclo

## Desafío 4: Función Simuladora

In [247]:
def simulate_pets_prob(simulations=1):
    young_pet = []
    old_pet = []
    np.random.seed(1)
    for i in range(simulations):
        young_pet.append(generate_pet())
        old_pet.append(generate_pet())

    tmp_df = pd.DataFrame({
        'young_pet': young_pet,
        'old_pet': old_pet
    })
    tmp_df['one_is_a_dog'] = np.where((tmp_df['young_pet'] == 'perro') | (tmp_df['old_pet'] == 'perro'), 1, 0)
    tmp_df['one_is_old_dog'] = np.where(tmp_df['old_pet'] == 'perro', 1, 0)
    tmp_df['both_dogs'] = np.where((tmp_df['young_pet'] == 'perro') & (tmp_df['old_pet'] == 'perro'), 1, 0)
    return tmp_df

### Se realiza la simulación de animales con un número de 20

In [248]:
simulations_pd = simulate_pets_prob(20)

In [234]:
simulations_pd

   young_pet old_pet  one_is_a_dog  one_is_old_dog  both_dogs
0       gato    gato             0               0          0
1      perro   perro             1               1          1
2       gato    gato             0               0          0
3       gato    gato             0               0          0
4       gato   perro             1               1          0
5      perro    gato             1               0          0
6      perro    gato             1               0          0
7       gato   perro             1               1          0
8      perro    gato             1               0          0
9      perro   perro             1               1          1
10     perro    gato             1               0          0
11     perro   perro             1               1          1
12      gato   perro             1               1          0
13     perro   perro             1               1          1
14      gato   perro             1               1          0
15     perro   perro             1               1          1
16      gato    gato             0               0          0
17      gato    gato             0               0          0
18      gato   perro             1               1          0
19     perro   perro             1               1          1

In [249]:
one_is_a_dog_prob = simulations_pd['one_is_a_dog'].value_counts('%').get(1)

In [250]:
one_is_old_dog_prog = simulations_pd['one_is_old_dog'].value_counts('%').get(1)

In [251]:
both_dogs_prob = simulations_pd['both_dogs'].value_counts('%').get(1)

In [252]:
print("La probabilidad de que por lo menos uno de los animales sea perro es:", one_is_a_dog_prob * 100, "porciento")

La probabilidad de que por lo menos uno de los animales sea perro es: 75.0 porciento

In [253]:
print("La probabilidad de que uno sea perro viejo es:", one_is_old_dog_prog * 100, "porciento")

La probabilidad de que uno sea perro viejo es: 55.00000000000001 porciento

In [254]:
print("La probabilidad de que ambos sean perros es:", both_dogs_prob * 100, "porciento")

La probabilidad de que ambos sean perros es: 30.0 porciento

El escenario más probable de los 3 es que uno de los dos sean perro, con un 75%

El escenario menos probable de los 3 es que ambos sean perro, con un 30%