In [1]:
import pandas as pd

In [6]:
pd.read_csv('alumnos.csv')

     nombre  altura  peso  edad sexo
0      Luis    1.70    70    30    m
1    Andrea    1.50    50    25    f
2     Tainy    1.45    40    30    f
3  Catalina    1.50    60    40    f
4    Andres    1.73    73    29    m
5     Puchi    1.20    20     2    m

In [7]:
df = pd.read_csv('alumnos.csv')

In [8]:
df.head()

     nombre  altura  peso  edad sexo
0      Luis    1.70    70    30    m
1    Andrea    1.50    50    25    f
2     Tainy    1.45    40    30    f
3  Catalina    1.50    60    40    f
4    Andres    1.73    73    29    m

In [9]:
df.head(1)

  nombre  altura  peso  edad sexo
0   Luis     1.7    70    30    m

In [10]:
df.columns

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [11]:
df['altura']

0    1.70
1    1.50
2    1.45
3    1.50
4    1.73
5    1.20
Name: altura, dtype: float64

In [12]:
type(df['altura'])

pandas.core.series.Series

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.iloc[1,:]

nombre    Andrea
altura       1.5
peso          50
edad          25
sexo           f
Name: 1, dtype: object

In [15]:
df.loc[1,:]

nombre    Andrea
altura       1.5
peso          50
edad          25
sexo           f
Name: 1, dtype: object

In [16]:
type(df.loc[1,:])

pandas.core.series.Series

In [17]:
df['sexo'].index

RangeIndex(start=0, stop=6, step=1)

In [18]:
df['sexo'].values

array(['m', 'f', 'f', 'f', 'm', 'm'], dtype=object)

In [19]:
peso_alumnos = df['peso']

In [20]:
peso_alumnos

0    70
1    50
2    40
3    60
4    73
5    20
Name: peso, dtype: int64

In [21]:
type(peso_alumnos)

pandas.core.series.Series

In [23]:
peso_alumnos[:3]

0    70
1    50
2    40
Name: peso, dtype: int64

In [25]:
peso_alumnos[2:6]

2    40
3    60
4    73
5    20
Name: peso, dtype: int64

In [28]:
media_nativa = sum(df['altura']) / len(df['altura'])

In [29]:
media_pandas = df['altura'].mean()

In [30]:
import numpy as np

In [31]:
media_numpy = np.mean(df['altura'])

In [33]:
for i in [media_nativa, media_pandas, media_numpy]:
    print(i)

1.5133333333333334
1.5133333333333334
1.5133333333333334

In [34]:
media_nativa == media_pandas

True

In [36]:
media_nativa == media_numpy

True

In [37]:
from scipy import stats

In [42]:
moda = stats.mode(df['altura'])

In [43]:
moda

ModeResult(mode=array([1.5]), count=array([2]))

In [46]:
mediana_pandas = df['altura'].median()
print(mediana_pandas)

1.5

In [48]:
mediana_numpy = np.median(df['altura'])
print(mediana_numpy)

1.5

In [50]:
varianza_pandas = df['altura'].var()
print(varianza_pandas)

0.03686666666666667

In [52]:
varianza_numpy = np.var(df['altura'])
print(varianza_numpy)

0.030722222222222224

In [54]:
varianza_pandas == varianza_numpy

False

In [55]:
df['altura'].values.var()

0.030722222222222224

In [56]:
df['altura'].values.var() == df['altura'].var()

False

In [58]:
df['altura'].var(ddof=0) == df['altura'].values.var(ddof=0)

True

In [62]:
df['altura'].values.var(ddof=1) == np.var(df['altura'], ddof=1)

True

In [63]:
np.var(df['altura'], ddof=1)

0.03686666666666667

In [64]:
np.var(df['altura'])

0.030722222222222224

In [70]:
df['altura'].std()

0.19200694431886225

In [69]:
np.std(df['altura'])

0.17527755766846542

In [71]:
for i in df['altura']:
    print(i, 'es del tipo ', type(i))

1.7 es del tipo  <class 'float'>
1.5 es del tipo  <class 'float'>
1.45 es del tipo  <class 'float'>
1.5 es del tipo  <class 'float'>
1.73 es del tipo  <class 'float'>
1.2 es del tipo  <class 'float'>

In [73]:
for i in df['altura']:
    print(i + 1.0)

2.7
2.5
2.45
2.5
2.73
2.2

In [75]:
for i in df['altura'].index:
    if i % 2 == 0:
        print(i, df['altura'][i])

0 1.7
2 1.45
4 1.73