In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('got_battles.csv')

In [5]:
df.head(5)

,me,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [6]:
df['attacker_king'].value_counts()

Joffrey/Tommen Baratheon    14
Robb Stark                  10
Balon/Euron Greyjoy          7
Stannis Baratheon            5
Name: attacker_king, dtype: int64

In [7]:
df['attacker_king'].value_counts('%')

Joffrey/Tommen Baratheon    0.388889
Robb Stark                  0.277778
Balon/Euron Greyjoy         0.194444
Stannis Baratheon           0.138889
Name: attacker_king, dtype: float64

In [13]:
# Si elegimos al azar cualquier batalla
# La probabilidad que esta batalla halla sido
# Iniciada por cada atacante es de 38% por ejemplo
# Para el caso de Joffrey Baratheon
# El espacio muestreal es cada uno de los posibles elementos
# El elemento especifico es cada uno de los atacantes

In [16]:
# Espacio muestral:  Todos los posibles resultados
# Evento específico: se le asigna un número
# no negativo que representa la verosimilitud
# de ocurrencia

In [17]:
# Pr(A) = # de Ocurrencias del Evento / Total eventos totales

In [18]:
len(df)

38

In [19]:
14/38

0.3684210526315789

In [21]:
df['attacker_king'].isna().value_counts()

False    36
True      2
Name: attacker_king, dtype: int64

In [22]:
# En pandas por defecto se ignoran los datos perdidos

In [23]:
df['attackers_non_baratheon'] = np.where(df['attacker_king'] != 'Joffrey/Tommen Baratheon', 1, 0)

In [27]:
df['attackers_non_baratheon'].value_counts('%')

1    0.631579
0    0.368421
Name: attackers_non_baratheon, dtype: float64

In [35]:
batallas_rey = df['attacker_king'].value_counts('%')

In [36]:
# no negatividad

batallas_rey > 0

# Principios de funciones vectorizadas

Joffrey/Tommen Baratheon    True
Robb Stark                  True
Balon/Euron Greyjoy         True
Stannis Baratheon           True
Name: attacker_king, dtype: bool

In [37]:
# aditividad y normalización

cummulative_pr = 0
string_pr = ""

for index, value in batallas_rey.items():
    cummulative_pr += value
    string_pr += index + ""
    print(string_pr, cummulative_pr)

Joffrey/Tommen Baratheon 0.3888888888888889
Joffrey/Tommen BaratheonRobb Stark 0.6666666666666667
Joffrey/Tommen BaratheonRobb StarkBalon/Euron Greyjoy 0.8611111111111112
Joffrey/Tommen BaratheonRobb StarkBalon/Euron GreyjoyStannis Baratheon 1.0

In [39]:
df.loc[:, ['major_death', 'major_capture']].head(5)

   major_death  major_capture
0          1.0            0.0
1          1.0            0.0
2          0.0            1.0
3          1.0            1.0
4          1.0            1.0

In [40]:
# Para usar la union de probabilidades
# Se utiliza el operador de Python |

In [42]:
major_death_or_capture = 0
for rowname, rowserie in df.iterrows():
    if rowserie['major_death'] == 1.0 or rowserie['major_capture'] == 1.0:
        major_death_or_capture += 1
        print(rowserie['me'])

Battle of the Golden Tooth
Battle at the Mummer's Ford
Battle of Riverrun
Battle of the Green Fork
Battle of the Whispering Wood
Battle of Winterfell
Sack of Torrhen's Square
Sack of Winterfell
Battle of Oxcross
Siege of Storm's End
Sack of Harrenhal
Battle of the Blackwater
Battle of Duskendale
Retaking of Harrenhal
The Red Wedding
Siege of Seagard
Battle of Castle Black
Siege of Raventree

In [44]:
major_death_or_capture / len(df)

0.47368421052631576

In [45]:
len(df)

38

In [48]:
df['major_death_or_capture'] = np.logical_or(df['major_death'] == 1.0, df['major_capture'] == 1.0)

In [49]:
df['major_death_or_capture'].value_counts('%')

False    0.526316
True     0.473684
Name: major_death_or_capture, dtype: float64