In [3]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('worldcup2014.csv')

## Desafío 1:

### Primeras 5 observaciones de la copa 2014

In [31]:
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

## Desafío 2:

### Las frecuencias de continent:

In [10]:
df['continent'].value_counts()

europe          13
southamerica     6
africa           5
asia             4
northamerica     4
Name: continent, dtype: int64

### El continente con una mayor presencia en la muestra es:
Europa

In [15]:
df['continent'].value_counts().idxmax()

'europe'

### La probabilidad de elegir un equipo asiático al azar es:

In [28]:
asia_probability = df['continent'].value_counts('%')['asia']
print(asia_probability * 100, "%")

12.5 %

### La probabilidad de elegir un equipo africano al azar es:

In [29]:
africa_probability = df['continent'].value_counts('%')['africa']
print(africa_probability * 100, "%")

15.625 %

## Desafío 3:

Por cada continente, genere un nuevo objeto que almacene sólo las observaciones del continente.

In [57]:
europe_observations = df[df['continent'] == 'europe']
southamerica_observations = df[df['continent'] == 'southamerica']
africa_observations = df[df['continent'] == 'africa']
northamerica_observations = df[df['continent'] == 'northamerica']

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1
14,Italy,europe,D,3,3,1,0,2,2,3,−1,3,0